<h1>Welcome to CSE Motors!</h1>

<div id="main-content">
  <div id="content-1">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders<br /></p>
    <p>Superman doors<br /></p>
    <p>Fuzzy dice!</p>
    <button id="button-1">Own Today</button>
  </div>

  <div id="delorean">
    <img src="../images/vehicles/delorean.jpg" alt="DMC Delorean" />
  </div>
</div>

<div id="upgrades-and-reviews">
  <div>
    <h3>Delorean Upgrades</h3>
    <div id="upgrades">
      <!--.....-->
      <div class="upgrade-elements">
        <figure>
          <img
            src="../images/upgrades/flux-cap.png"
            alt="Flux Capacitor"
            class="element"
          />
          <figcaption class="element-name">
            <a href="/upgrades/flux-cap">Flux Capacitor</a>
          </figcaption>
        </figure>
      </div>
      <!--.....-->
      <div class="upgrade-elements">
        <figure>
          <img
            src="../images/upgrades/flame.jpg"
            alt="Flame Decals"
            class="element"
          />
          <figcaption class="element-name">
            <a href="/upgrades/flame">Flame Decals</a>
          </figcaption>
        </figure>
      </div>
      <!--.....-->
      <div class="upgrade-elements">
        <figure>
          <img
            src="../images/upgrades/bumper_sticker.jpg"
            alt="Bumper Stickers"
            class="element"
          />
          <figcaption class="element-name">
            <a href="/upgrades/bumper">Bumper Stickers</a>
          </figcaption>
        </figure>
      </div>
      <!--.....-->
      <div class="upgrade-elements">
        <figure>
          <img
            src="../images/upgrades/hub-cap.jpg"
            alt="Hub Caps"
            class="element"
          />
          <figcaption class="element-name">
            <a href="/upgrades/hub">Hub Caps</a>
          </figcaption>
        </figure>
      </div>
      <!--.....-->
    </div>
  </div>

  <div class="reviews">
    <h3>DMC Delorean Reviews</h3>
    <ul>
      <li>"So fast it's almost like travelling in time." (4/5)</li>
      <br /><br />
      <li>"Coolest ride on the road." (4/5)</li>
      <br /><br />
      <li>"I'm feeling McFly!" (5/5)</li>
      <br /><br />
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <br /><br />
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>
</div>
